* {
    margin: 0;
    padding: 0;
}
header{
    position: flex;
    margin: 5px;
}
.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f3f5fc;
}

.texto{
    position: absolute;
    width: 42%;
    height: 55%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400px;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f5fc;
}

.texto::placeholder{
    color: #0a3871;
}

.texto:focus,.texto:active{
    border: none;
    outline: none;
}

.alerta{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0%;
    gap: 8%;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 70%;
}

.alerta p{
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: orange;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 72%;
}

.botonEncriptar{
    align-items: center;
    justify-content: center;
    margin: 0.3%;
    padding: 2%;
    gap: 8%;
    width: 15%;
    background-color: #0a3871;
    border-radius: 24px;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: white;
}

.botonDesencriptar{
    align-items: center;
    justify-content: center;
    margin: 0.3%;
    padding: 2%;
    gap: 8%;
    width: 15%;
    background-color: gray;
    border-radius: 24px;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: white;
}

.botonCopiar{
    align-items: center;
    justify-content: center;
    margin: 0.3%;   
    padding: 2%;
    gap: 8%;
    width: 15%;
    background-color: rgb(255, 246, 198);
    border-radius: 24px;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgb(29, 21, 13);
}

.botonDesencriptar:hover,.botonEncriptar:hover{
    margin: 0.3%;
    width: 14.5%;
    padding: 1.8%;
}
.botonDesencriptar:active,.botonEncriptar:active{
    background-color: #8d1f1f;
    transform: translateY(2px);
}

.botonCopiar:hover{
    margin: 0.3%;    
    width: 14.5%;
    padding: 1.8%;
}

.botonCopiar:active{
    background-color: #8d1f1f;
    color: white;
    transform: translateY(2px);
}

.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    font-family: 'Roboto';
    width: 30%;
    height: 85%;
    left: 60%;
    top: 5%;
    background: rgb(210, 235, 255);
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.8);
    border-radius: 32px;
}

.encriptado img {
    src: './imagenes/vault-154023.svg';
    }
    

.mensajeEncriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensajeEncriptado h2{
    width: 60%; 
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: rgb(78, 78, 78);    
}

.mensajeEncriptado p{
    width: 60%;   
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: rgb(110, 110, 110); 
}

.encriptado img{
    margin-top: 10%;
    width: 70%;
    height: 40%;   
}

/*Responsive Design*/
@media (max-width: 57.5em){
    .container{
       display: flex;
       flex-direction: row;
    }
    .encriptar{
        width: 100%;
    }
    .texto{
        width: 80%;
        height: 40%;
        left: 10%;
        top: 5%;
    }
    .alerta{
        width: 80%;
        height: 10%;
        top: 50%;
    }    
    .alerta p{
        font-size: 16px;
    }
    .botones{
        width: 80%;
        height: 10%;
        top: 55%;
    }
    .botonEncriptar,.botonDesencriptar,.botonCopiar{
        width: 30%;
        font-size: 12px;
        border-radius: 16px;        
    }
    .botonEncriptar:hover,.botonDesencriptar:hover,.botonCopiar:hover{
        margin: 0.3%;
        width: 29.5%;
        padding: 1.8%;        
    }
    .botonEncriptar:active,.botonDesencriptar:active{
        background: #8d1f1f;
        transform: translateY(2px);
    }
    .encriptado{
        width: 80%;
        height: 25%;
        left: 10%;
        top: 72%;
        box-shadow: none;
    }
    .encriptado img{
        top: 0px;
        display: none;
        visibility: hidden;        
    }
    .mensajeEncriptado{
        top: 0;
        width: 100%;        
        font-size: 5px;
    }
}